# Local settings and database connection secrets
[Aa]pp[Ss]ettings.json
[Aa]pp[Ss]ettings.Development.json
*.env
*.config

# .NET Build output folders
[Bb]in/
[Oo]bj/

# IDE and Editor configurations
.vs/
.idea/
*.user
*.suo
